{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "world": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "vehicle": "Unset",
    "sitting": "Trigger"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "vehicle",
      "b": "sitting",
      "r": "Ignore"
    }
  ],
  "__guid": "8b6e926e-9378-4448-af92-732d4e1d48d2",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}